Fundamentos de Python

In [3]:
print("Hello World" )

Hello World

###### Variables en python

In [15]:
# variables
name = "josefino"
Name = "josefino"

first_name = "josefino"
fn="josefino"
# first-name = "josefino"

# anomalias malas practicas
FirstName = "josefino"
First_Name = "josefino"
First_name = "josefino"
# first.name = "josefino"

# revisar el pep 8: guia de estilo

In [25]:
# python como calculadora
# int: entero
# float: decimales
# str: cadenas de carateres

edad = 12
peso = 21
altura = "1.78"

print( type( altura ) )
print(type(peso))
print( type( first_name ) )

<class 'str'>
<class 'int'>
<class 'str'>

In [37]:
# formatos en print

edad = 12
peso = 21.56
altura = "1.78"

print( "El tipo de dato de altura es", type( altura ) )
print( "El tipo de dato de peso es", type(peso))
print( "El tipo de dato de first_name es", type( first_name ) )

El tipo de dato de altura es <class 'str'>
El tipo de dato de peso es <class 'float'>
El tipo de dato de first_name es <class 'str'>

In [39]:
type(edad)

int

In [40]:
edad = float(edad)
print("edad", type(edad))

altura = float(altura)
print( "altura", type(altura) )

edad <class 'float'>
altura <class 'float'>

### Ciclos finitos

In [ ]:
# ciclo for en python

In [4]:
for value in range(5):
    print("Hola")

Hola
Hola
Hola
Hola
Hola

In [5]:
for value in range(5):
    print(value)

0
1
2
3
4

In [8]:
for value in range(1,5,2):
    print(value)

1
3

In [16]:
for value in range(1,11):
    print(f"El cuadrado de {value} es {value**2}")

El cuadrado de 1 es 1
El cuadrado de 2 es 4
El cuadrado de 3 es 9
El cuadrado de 4 es 16
El cuadrado de 5 es 25
El cuadrado de 6 es 36
El cuadrado de 7 es 49
El cuadrado de 8 es 64
El cuadrado de 9 es 81
El cuadrado de 10 es 100

In [17]:
for value in range(10, 0, -1):
    print(value)

10
9
8
7
6
5
4
3
2
1

In [18]:
# Condicionales 
# Operadores de comparacion
# > mayor 
# < menor que
# >= mayor igual
# <= menor igual
# == igual?
# != diferente

day = "domingo"
if (day == "domingo"):
    print("voy a clases")

voy a clases

In [24]:
# ingreso por teclado
day = input("Día de la semana: ")
# convertir a minuscula
day = day.lower()

print(day)

if (day == "domingo"):
    print("voy a clases")
else:
    print("no es domingo")

domingo
voy a clases

In [33]:
# Buscar los numeros pares del 1 al 10
for number in range(1, 11):
    if (number % 2) == 0:
        print(f"{number} es par")

2 es par
4 es par
6 es par
8 es par
10 es par

In [38]:
# ingreso por teclado
day = input("Día de la semana: ")
# convertir a minuscula
day = day.lower()

# print(day)

if (day == "domingo"):
    print("voy a clases")

elif day == "sabado":
    print("es sabado")

elif day == "lunes":
    print("es lunes")

#else:
   # print("no es dia valido")

### Listas

In [39]:
list_1 = ["monday", "tuesday", 1, 2, 0.8 ]

In [47]:
names = ["josefino", "maria", 'ruperto']

In [49]:
# append
names.append("guillermo")

In [50]:
names

['josefino', 'maria', 'ruperto', 'guillermo']

In [51]:
names_2 = names.copy()

In [53]:
# count
names_2.count('maria')

1

In [54]:
names.index("maria")

1

In [55]:
names_2.pop()

'guillermo'

In [57]:
names_2.pop(1)

'maria'

In [59]:
names_2 = names_2.pop()

In [60]:
names_2

'ruperto'

In [61]:
names

['josefino', 'maria', 'ruperto', 'guillermo']

In [63]:
names.reverse()

In [64]:
names

['guillermo', 'ruperto', 'maria', 'josefino']

In [65]:
names.sort()

In [66]:
names

['guillermo', 'josefino', 'maria', 'ruperto']

In [75]:
# slices

['guillermo', 'josefino']

In [80]:
# guardar numeros pares en una lista, del 1 al 10
pares_list = []
for number in range(1, 11):
    if (number % 2) != 0:
        pares_list.append(number**2)
pares_list

[1, 9, 25, 49, 81]

In [81]:
len(names)

4

In [84]:
for value in range(len(names)):
    print(names[value])

guillermo
josefino
maria
ruperto

#### Diccionarios

In [6]:
list1 = ['cebolla', 'tomate', 'pimenton' ]
len(list1)
list1[1:]

['tomate', 'pimenton']

In [27]:
dicc_1 = {
    'carmen' : 1234,
    'jose' : 4321,
    'pedro': 5678,
    'josefino': [123, 456, 789],
    'ruperto': {'netflix':123, 'espn': 456, 'hbo': 789}
}

In [30]:
dicc_1['ruperto']['espn']

456

In [9]:
# ver elementos del diccionarios
dicc_1['jose']

4321

In [10]:
# borrar un elemento del dicc
del dicc_1['pedro']

In [18]:
# agregar elementos al diccionario
dicc_1['josefino'] = 7923

In [19]:
dicc_1

{'carmen': 1234, 'jose': 4321, 'josefino': 7923}

In [20]:
# conjuntos / set
conj_1 = {1, 2, 2, 3, 3, 4, 4}

In [22]:
list2 = ['cebolla', 'tomate', 'pimenton', 'cebolla', 'tomate', 'pimenton']

In [24]:
print(list2)
print(len(list2))

['cebolla', 'tomate', 'pimenton', 'cebolla', 'tomate', 'pimenton']
6

In [25]:
set(list2)

{'cebolla', 'pimenton', 'tomate'}

In [21]:
conj_1

{1, 2, 3, 4}

In [31]:
# copia de un diccionario
# diccionario base 0
dict_0 = dicc_1.copy()

In [35]:
# ver las claves
print("claves: ", dict_0.keys())
print("valores: ", dict_0.values())

claves:  dict_keys(['carmen', 'jose', 'pedro', 'josefino', 'ruperto'])
valores:  dict_values([1234, 4321, 5678, [123, 456, 789], {'netflix': 123, 'espn': 456, 'hbo': 789}])

In [41]:
# actualizar conjunto clave valor
dict_0.update({
    'carmen' : 9879,
})

In [43]:
dict_0['carmen']

9879

In [47]:
# Funciones
def suma_dos(num1:int, num2:int):
    """
    Esta funcion suma dos numeros enteros
    num1: int
    num2: int
    return: int
    """
    resultado = num1 + num2
    return resultado

In [49]:
# pase de argumentos por posicion
suma_dos(4,2)

6

In [52]:
# Funciones
def resta_dos(num1:int, num2:int):
    
    """
    Esta funcion resta num1 - num2
    num1: int
    num2: int
    return: int
    """
    resultado = num1 - num2
    return resultado

In [56]:
# pase de argumentos por parametros
resta_dos(num2=9, num1=8)

-1

In [66]:
# Funciones
def multi_dos_positivos(num1, num2):
    """
    Esta funcion multiplica num1 * num2
    num1: int
    num2: int
    return: int
    """
    if (num1 > 0) and (num2 > 0):
        return num1 * num2
    else:
        return print("num1 o num2 es menor que cero, revisar")

In [67]:
multi_dos_positivos(-2,3)

num1 o num2 es menor que cero, revisar

In [ ]:
suma_dos()