Fundamentos de Python

In [3]:
print("Hello World" )

Hello World

###### Variables en python

In [15]:
# variables
name = "josefino"
Name = "josefino"

first_name = "josefino"
fn="josefino"
# first-name = "josefino"

# anomalias malas practicas
FirstName = "josefino"
First_Name = "josefino"
First_name = "josefino"
# first.name = "josefino"

# revisar el pep 8: guia de estilo

In [25]:
# python como calculadora
# int: entero
# float: decimales
# str: cadenas de carateres

edad = 12
peso = 21
altura = "1.78"

print( type( altura ) )
print(type(peso))
print( type( first_name ) )

<class 'str'>
<class 'int'>
<class 'str'>

In [37]:
# formatos en print

edad = 12
peso = 21.56
altura = "1.78"

print( "El tipo de dato de altura es", type( altura ) )
print( "El tipo de dato de peso es", type(peso))
print( "El tipo de dato de first_name es", type( first_name ) )

El tipo de dato de altura es <class 'str'>
El tipo de dato de peso es <class 'float'>
El tipo de dato de first_name es <class 'str'>

In [39]:
type(edad)

int

In [40]:
edad = float(edad)
print("edad", type(edad))

altura = float(altura)
print( "altura", type(altura) )

edad <class 'float'>
altura <class 'float'>

### Ciclos finitos

In [ ]:
# ciclo for en python

In [4]:
for value in range(5):
    print("Hola")

Hola
Hola
Hola
Hola
Hola

In [5]:
for value in range(5):
    print(value)

0
1
2
3
4

In [8]:
for value in range(1,5,2):
    print(value)

1
3

In [16]:
for value in range(1,11):
    print(f"El cuadrado de {value} es {value**2}")

El cuadrado de 1 es 1
El cuadrado de 2 es 4
El cuadrado de 3 es 9
El cuadrado de 4 es 16
El cuadrado de 5 es 25
El cuadrado de 6 es 36
El cuadrado de 7 es 49
El cuadrado de 8 es 64
El cuadrado de 9 es 81
El cuadrado de 10 es 100

In [17]:
for value in range(10, 0, -1):
    print(value)

10
9
8
7
6
5
4
3
2
1